<script>
  <!-- Get README.md from Github API using JSONP. Turn the markdown into HTML. -->
  function content(response) {
    var data = atob(response.data.content.replace(/\s/g, ''));
    preview.innerHTML = markdown.toHTML(data);
    return data;
  }

  var script = document.createElement('script');
  script.src = 'https://api.github.com/repos/ethicalhack3r/wordpress_plugin_security_testing_cheat_sheet/contents/README.md?callback=content';

  document.getElementsByTagName('head')[0].appendChild(script);
</script>

<div id="preview"></div>

<!-- Remove markdown h1 header as leads to double headers on the blog -->
<script>
  window.onload = remove_title();
  
  function remove_title(); {
    var title = document.getElementById('preview').getElementsByTagName('h1')
    title.style.display='none';
  }
</script>

<script src="https://wpscan.org/javascripts/markdown-browser-0.6.0-beta1/markdown.min.js"></script>
