---
layout: default
disqus: false
archive: false
---

<main class="content" role="main">

    <article class="post">
        <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header>

        <span class="post-meta">
        	<time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
        	{% if page.categories %}
        		on
	        	{% for category in page.categories %}
	        	    {{category}}
	        	{% endfor %}
	        {% endif %}
       	</span>

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
        	<h5>Archive</h5>
    		<ul>
    			{% for post in site.posts %}
    				<li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
    			{% endfor %}
    		</ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <section class="hire-me">
              <h4><a href="https://dewhurstsecurity.com/" onClick="_gaq.push(['_trackEvent', 'External Link', 'Dewhurst Security Link', 'Hire Us – Words']);">Hire Us</a></h4>
            </section>

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{page.title}}&amp;url={{site.baseurl}}{{ page.url }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.baseurl}}{{page.url}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{site.baseurl}}{{page.url}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    </article>

</main>
